.header {
  width: 100%;
  background-color: $black;
  backdrop-filter: blur(2px);
  padding-top: 14px;
  padding-bottom: 14px;
  @media (max-width: $size-medium) {
    position: fixed;
    z-index: 20;
    height: 34px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  &__main-title{
    position: absolute;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  &__inner {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &__designer{
    margin-left: auto;
    @media (max-width: $size-medium) {
      margin: 0;
      display: none;
    }
  }
  &__figma-link{
    @extend %interactive-text;
    transition: all ease 0.2s;
    color: $white;
    @media (max-width: $size-medium) {
      display: none;
    }
    &:hover {
      color: $color_active;
      transition: all ease 0.2s;
    }
  }
  &__logo-container {
    margin-right: 63px;
    @media (max-width: $size-medium) {
      margin-left: 0;
      margin-right: auto;
      width: 47px;
      height: 29px;
      border: none;
    }
  }
  &__logo-text {
    @media (max-width: $size-medium) {
      font-size: 12px;
    }
  }
  &__menu {
    @media (max-width: $size-medium) {
      display: none;
    }
  }
  &__burger{
    margin-right: 0;
    margin-left: auto;
    display:none;
    width: 30px;
    height: 30px;
    background: url("/src/assets/icons/burger_menu.svg") center center no-repeat;
    cursor: pointer;
    @media (max-width: $size-medium) {
      display:block;
    }
  }
}


.burger {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 100;
  background: $white;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  &__button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: url("/src/assets/icons/x_icon.svg") center center no-repeat;
    cursor: pointer;
  }
  &__inner {
    position: relative;
		padding: 10px;
		background-color: $white;
		width: 50%;
		min-height: 100vh;
		cursor: auto;
	}
  &__logo-container {
    border-color: $color_main-simple;
  }
  &__logo-text{
    background: $color_main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &::after{
      width: 50px;
      height: 50px;
      bottom: -9px;
      left: -9px;
      transform: scale(1.01);
      background: url("/src/assets/icons/bamboo_orange.svg") center center no-repeat;
    }
  }
  &__list {
    padding-left: 0;
    margin-top: 20px;
  }
  &__item {
    margin-bottom: 15px;
  }
  &__link {
    font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		color: $color_dark-blue;
		transition: all 0.5s ease;
		padding: 10px 10px 10px 0;
    &:hover {
      transition: all 0.5s ease;
      background: $color_main;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
	}
}
.active {
  @media (max-width: $size-medium) {
    display: block;
    opacity: 1;
    min-height: 100vh;
  }
}

._lock {
	overflow: hidden;
}